#banner{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50;
    width: 100%;
    height: 44px;
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 16px 16px 8px 16px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    z-index: 5;
 }

 #login-signup{
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    height: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);   
 }

 .banner-button{
     color: rgb(117, 117, 117);
     font-size: 14px;
 }

 #website-title{
    position: absolute;
    left: 15px;
    font-size: 50px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(246,64,96)
 }