#user-nav-icon-container{
  position: absolute;
  right: 50px;
  img{
    width: 30px;
    height: 30px;
  }
  #hidden{
    display: none;
  }
  #displayed{
    z-index: 100;
    position: absolute;
    width: 490px;
    // top: 50px;
    left: -460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,.12);
    border-radius: 3px;
    box-shadow: rgba(0,0,0,.54) 0 3px 8px 0;
    background-color: white;
  }

  #dropdown-nav-options{
    display: flex;
    flex-direction: column;


    .dropdown-nav-Items{
    color: rgba(0,0,0,.54);
    font-size: 16px;
    margin: 0 20px;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
    }
  }

  

}


