#user-nav-icon-container{
  position: absolute;
  right: 50px;
  img{
    width: 30px;
    height: 30px;
  }
  #hidden{
    display: none;
  }
  #displayed{
    position: absolute;
    width: 512px;
    // top: 50px;
    left: -300px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0,0,0,.12);
    border-radius: 3px;
    box-shadow: rgba(0,0,0,.54) 0 3px 8px 0;

  }

}


