.session-form-background {
    z-index: 1;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(0, 0, 0, .6);
    
  }

  .session-form-grid-container {
    z-index: 2;
    position: relative;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    width: 450px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    input{
        border: 2px solid black;
        // margin: 20px;
    }

    #session-link{
        color: blue;
        &:hover{
            text-decoration: underline;
        }
    }  
    
    #session-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // text-align: center;
        padding: 30px;

        .session-form-label{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 10px 0 10px 0;
            .session-input-field{
                align-self: stretch;
                margin: 10px 0 10px 0;                
                &:focus{
                    border-color: #1a1aff;
                }
            }  
        }
        #session-submit{
            width: fit-content;
            margin: 10px 0 10px 0;
            background-color: rgba(234, 0, 65,1.0);
            color: white;
            font-size: 26px;
            padding: 5px 10px 5px 10px;
        }
        .session-form-switch{
            font-size: 16px;
            margin: 5px 0px 5px 0px;
        }
        #session-form-title{
            font-size: 30px;
            font-style: bold;
            img{
                width:15px;
                height: auto;
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
}

#demo-user-container{
    background-color: rgb(216, 223, 234);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;

    #demo-user-button{
        border: 2px solid grey;
        width: fit-content;
        align-self: center;        
        padding: 15px 15px 15px 15px;  
    }

    .demo-user-span{
        margin: 15px 0px 15px 0px;      
    }
}

#close-button{
    position: absolute;
    right: 15px;
    top: 15px;
}

.error-message{
    color: red;
}