#session-form-background {
    position: absolute;
    top: 68px;
    background: #fafafa;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.12);
}

#testing-footer{
    background:  #0f1721;
    height: 336px;
}

.login-form-container {
    position: relative;
    background: white;
    border-radius: 5px;    
    border: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.26);
    font-size: 20px;
    width: 450px;
    height: auto;
    margin: 120px 0px 120px 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    
    input{
        border: 2px solid black;
        // margin: 20px;
    }

    #session-link{
        margin-left: 4px;
        color: blue;
        &:hover{
            text-decoration: underline;
        }
    }  

    #login-form-header{
        display: flex;
        flex-direction: column;
        font-weight: 500;
        line-height: 1.6;
        padding: 16px 16px 0px 16px;
        #session-form-title{
            font-size: 34px;
            font-weight: 500;
            padding-bottom: 8px;
                img{
                    width:15px;
                    height: auto;
                    display: inline-block;
                    margin-left: 5px;
                }            
        }   
        #session-form-switch{
            font-size: 13px;
            margin-bottom: 16px;
            font-weight: 500;
        }
    }
}

#login-form-content{            
    width: 100%;
    padding: 16px 16px 0px 16px;    
    border-top: 1px solid rgba(0,0,0,.12);
}

#login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .session-form-label{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 0 10px 0;
        .session-input-field{
            align-self: stretch;
            margin: 10px 0 10px 0;  
            border: 1px solid rgba(0,0,0,.12);
            border-radius: 3px;
            background-color: #fafafa;              
            &:focus{
                border-color: #1a1aff;
            }
        }  
    }    
}
    
//     #login-form{
//         display: flex;
//         // flex-direction: column;
//         // justify-content: center;
//         // text-align: center;
//         padding: 30px;
//         border-top: 1px solid rgba(0,0,0,.12);

        

//         .session-form-label{
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             margin: 10px 0 10px 0;
//             .session-input-field{
//                 align-self: stretch;
//                 margin: 10px 0 10px 0;  
//                 border: 1px solid rgba(0,0,0,.12);
//                 border-radius: 3px;
//                 background-color: #fafafa;              
//                 &:focus{
//                     border-color: #1a1aff;
//                 }
//             }  
//         }
//         #session-submit{
//             width: fit-content;
//             margin: 10px 0 10px 0;
//             background-color: rgba(234, 0, 65,1.0);
//             color: white;
//             font-size: 26px;
//             padding: 5px 10px 5px 10px;
//         }
        
        
//     }
// }

#demo-user-container{
    background-color: rgb(216, 223, 234);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;

    #demo-user-button{
        border: 2px solid grey;
        width: fit-content;
        align-self: center;        
        padding: 15px 15px 15px 15px;  
    }

    .demo-user-span{
        margin: 15px 0px 15px 0px;      
    }
}

#close-button{
    position: absolute;
    right: 15px;
    top: 15px;
}

.error-message{
    color: red;
}