.session-form-container {
    z-index: 1;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(0, 0, 0, .3);
  }

  .session-form-box {
    z-index: 999;
    position: absolute;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    width: 450px;
    height: 500px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    /***************************/
    // display: flex;
    // flex-direction: row;
    /***************************/
    label{
        display: inline-block;
    }

    input{
        border: 2px solid black;
        display: inline-block;
    }
    /***************************/
    #session-link{
        color: blue;
        &:hover{
            text-decoration: underline;
        }
    }
  }