.session-form-container {
    z-index: 998;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(0, 0, 0, .3);
  }

  .session-form-box {
    z-index: 999;
    position: absolute;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    width: 450px;
    height: 500px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
  }