#group-show-page{
  display: flex;
  flex-direction: column;

  #group-show-head{
    display: flex;
    flex-direction: row;
    margin: 20px 10% 20px;
    

    img{
      max-width: 600px;
    }

    #group-show-head-details{
      display: flex;
      flex-direction: column;
    }
  }
}