#group-show-about-main{
  display: flex;
  flex-direction: row;
  background-color: rgb(246,247,248);
  border-top: 1px solid rgba(46,62,72,.12);
  width: 100vw;
  justify-content: space-between;
  //@debug: 20px;
  // height: 25vh;

  .group-show-about-half{
    margin-top: 20px;
  }

  #group-show-about-left{
    margin-left: 20%;
    margin-bottom: 20px;
  }
  #group-show-about-right{
    margin-right: 20%;
  }

  .about-title{
      font-size: 20px;
      line-height: 1.45;
      font-weight: 550;
      padding-bottom: 20px;
  }

  #groupshow-description-container{
    display: flex;
    flex-direction: column;

    

    #groupshow-description{
      font-size: 14px;
    }
  }



}
