#member-dropdown-outer-container{
  position: relative;  

  .dropdown-hidden{
    display: none;
  }

  .dropdown-shown{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    overflow: visible;
    background-color: red;
    margin-top: 5px;
    transform: translateX(-50%);
    left: 50%;
    width: 85%;
    background-color: #fff;
    border: 1px solid rgba(46,62,72,.12);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(46,62,72,.12), 0 3px 1px -2px rgba(46,62,72,.26), 0 1px 5px 0 rgba(46,62,72,.12);
    
    #member-dropdown-list{
      display: flex;
      flex-direction: column;
      text-align: left;

      .member-dropdown-list-item{

        padding: 10px;        

        &:hover{
          background-color: rgb(206,213,217);
        }

        .member-dropdown-list-button{
          font-size: 14px;
          
        }
      }
    }    
  }  
}

#member-dropdown-button{
    
    .member-dropdown-inner{      
      padding: 10px 20px 10px;
      border: 1.5px solid rgba(46,62,72,.12); 
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      
    }

    .already-member{
      background-color: rgb(246,247,248);
      color: grey;

      &:hover{
        background-color: rgb(197,196,196);
      }
    }

    .join-group{
      background-color: rgb(246,88,88);
      color: white;

      &:hover{
        background-color: rgba(246,88,88,.7);
      }
    }
  }


