#find-main-content{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;

  #find-my-groups-container{
    background-color: blue;
    display: flex;
    flex-direction: column;
  }
}

#my-groups-wrapper{
  display: flex;
  flex-direction: column;

  
}

.my-groups-row{
  display: flex;
  flex-direction: row;

  .mygroup-row-element-container{
    margin-right: 16px;
    margin-bottom: 16px;
    width: 220px;
    height: 180px;
    display: table;
    border: 1px solid rgba(0,0,0,.12);

    &:hover{
      cursor: pointer;
      border: 2px solid red;
      border-radius: 4px;
    }

    .mygroup-element-title{
      font-weight: bold;
      color: white;
      font-size: 20px;
      text-shadow: 1px 1px 0 rgba(0,0,0,.26);
      margin: auto;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
  }

  
}

.my-groups-header{
    color: rgba(0,0,0,.87);
    font-size: 13px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -.02em;
    word-spacing: .1em;
    margin-bottom: 16px;
}
